#modpack-edit-dialog .modal-dialog {
  width: 80vw;

  .modal-body {
    height: 80vh;
  }
}

#modpack-edit-dialog .header-version,
#modpack-edit-dialog .header-source,
#modpack-edit-dialog .header-required,
#modpack-edit-dialog .header-install-type,
#modpack-edit-dialog .header-action {
  width: 200px;
}

#modpack-edit-dialog .modpack-edit-export {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  > button {
    margin: $half-gutter;
  }
}

#modpack-edit-tabs {
  height: 100%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;

  .tab-content {
    overflow-y: hidden;
    flex: 1 1 0;
    > div {
      height: 100%;
    }
  }
}

#modpack-edit-tabs-pane-mod-rules > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  > .list-group {
    height: 100%;
    overflow-y: scroll;
  }
}

.listitem-tweak {
  display: flex;
  align-items: flex-end;
}

.table-modpack-mods .highlight-base {
  width: 2em;
  height: 2em;
  &:hover {
    color: inherit;
  }
}

.modpack-mods-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}