$border-radius: 4px;
$collection-thumbnail-width: 180px;
$collection-thumbnail-height: 320px;

#modpack-edit-dialog .modal-dialog {
  width: 80vw;

  .modal-body {
    height: 80vh;
  }
}

#modpack-edit-dialog .header-version,
#modpack-edit-dialog .header-source,
#modpack-edit-dialog .header-required,
#modpack-edit-dialog .header-install-type,
#modpack-edit-dialog .header-action {
  width: 200px;
}

#modpack-edit-dialog .cell-source {
  padding-right: 0;
}

#modpack-edit-dialog .cell-edit-source {
  padding-left: 0;
}

#modpack-edit-dialog .cell-highlight {
  display: flex !important;
  align-items: center;
  > * {
    margin: 0 0.5em;
  }
}

#modpack-edit-dialog .modpack-edit-export {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  > button {
    margin: $half-gutter;
  }
}

#modpack-edit-tabs {
  height: 100%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;

  .tab-content {
    overflow-y: hidden;
    flex: 1 1 0;
    > div {
      height: 100%;
    }
  }
}

#modpack-edit-tabs-pane-mod-rules > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  > .list-group {
    height: 100%;
    overflow-y: scroll;
  }
}

.listitem-tweak {
  display: flex;
  align-items: flex-end;
}

.table-modpack-mods .highlight-base {
  width: 2em;
  height: 2em;
  &:hover {
    color: inherit;
  }
}

.modpack-mods-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#modpack-install-dialog {
  .modal-dialog {
    width: 80vw;
    .modal-body {
      height: 60vh;
    }
  }

  .modpack-flex-start {
    justify-content: center;
    align-items: center;
  }

  .modpack-flex-disclaimer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modpack-flex-installing {
    .carousel-control {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .carousel-caption {
      background-color: rgba($gray-lighter, 0.5);
    }

    .carousel-indicators {
      bottom: 0;
      margin-bottom: 0;
      width: 70%;
      margin-left: -35%;

      li {
        width: 6px;
        height: 6px;

        &.active {
          width: 10px;
          height: 10px;
        }
      }
    }

    .carousel-inner > .item > img {
      height: 55vh;
      margin-left: auto;
      margin-right: auto;
    }

    .icon-spinner {
      margin-right: 0.5em;
    }
  }

  .modpack-disclaimer-intro {
    font-size: large;
  }
}

.modpack-description-popover {
  min-width: 60vw;
  max-width: 60vw;
  .popover-content {
    height: 50vh;
    overflow: auto;
  }
}

.collection-create-btn {
  position: relative;

  &.panel {
    border: 0;
    border-radius: $border-radius;
    margin: $half-gutter !important;
    border: 2px dotted $gray;

    width: $collection-thumbnail-width;
    height: $collection-thumbnail-height;
  }

  > .panel-body {
    padding: 0;
    margin-bottom: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > * {
      margin-bottom: $half-gutter;
    }

    > .icon {
      width: 32px;
      height: 32px;

      color: $brand-primary;
    }
  }

  .collection-create-label {
    @extend .h4;
  }
}

.collection-thumbnail {
  position: relative;
  width: $collection-thumbnail-width;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.35);

  > .collection-thumbnail-body.panel-body {
    padding: 0;
  }

  &.panel {
    border: 0;
    border-radius: $border-radius;
    margin: $half-gutter;
  }

  .gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7) 70%, rgba(0, 0, 0, 0.9) 93%);
    border-radius: $border-radius;
  }

  .thumbnail-img {
    width: 100%;
    height: 100%;
    border-radius: $border-radius;
  }

  .bottom {
    position: absolute;
    bottom: 6%;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    .name {
      @extend .h3;
    }

    .active-mods {
      @extend .h5;
    }

    .author {
      img {
        width: 16px;
        height: 16px;
        margin-right: 0.5em;
      }
    }
  }

  .collection-status-container {
    position: absolute;
    top: 8px;
    left: 8px;

    .collection-status {
      background-color: $brand-primary;
      text-transform: uppercase;
      padding: 0 0.5em;
    }
  }

  .collection-version-container {
    position: absolute;
    top: 8px;
    right: 8px;
    line-height: 1;

    .collection-version {
      color: $text-color-disabled;
    }
  }

  .hover-content {
    border-radius: $border-radius;
    display: flex;

    > .btn-group-vertical {
      width: 128px;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
      > btn {
        justify-content: center;
      }
    }
  }
}

.collection-list {
  display: flex;
  flex-wrap: wrap;

  > .placeholder {
    margin: auto;
  }
}
